[user]
  name = Mateusz Adamiec
  email = mateusz.adamiec@appfire.com

[core]
  sshCommand = "ssh -i ~/.ssh/general"

[push]
  autoSetupRemote = true

[pull]
  rebase = true

# public github user - personal
[includeIf "gitdir:~/sandbox/"]
  path = ~/.gitconfig-personal

# public github user - personal
[includeIf "gitdir:~/.dotfiles/"]
  path = ~/.gitconfig-personal

